<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.etoak.modules.permissions.mapper.PermissionsMapper">

	<resultMap type="com.etoak.modules.permissions.bean.Permissions" id="permMap">
		<id column="id" property="id"/>
		<result column="pid" property="pid"/>
		<result column="name" property="name"/>
		<result column="is_leaf" property="isLeaf"/>
		<result column="status" property="status"/>
		<result column="url" property="url"/>
		<result column="remark" property="remark"/>
		<result column="create_time" property="createTime"/>
	</resultMap>
	
	<sql id="perm_columns">
		id,pid,name,is_leaf,status,url,remark,create_time
	</sql>
	
	<select id="getPermAll"
			parameterType="java.lang.String"
			resultMap="permMap">
			select
				<include refid="perm_columns" />
			from
			 	et_permissions
			where pid = #{id} and status = 1
	</select>
	
	<select id="getPermByRoleIds"
			parameterType="java.util.Map"
			resultMap="permMap">
		select 
			c.id,c.pid,c.name,c.is_leaf,
			c.status,c.url,c.remark,c.create_time
		from 
		    et_role a
		left join
			role_permissions b
		on
			a.id = b.role_id
		left join
			et_permissions c
		on 
			b.perm_id = c.id 
		where 
			a.status = 1 
			and a.id in
			<foreach collection="list" item="roleId"
				open="(" close=")" separator=",">
				#{roleId}
			</foreach>
			and c.status = 1
			and c.pid = #{id} 	
	</select>
	
</mapper>