<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
	http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context-4.0.xsd">
 	
	<bean id="jedisPoolConfig" 
		class="redis.clients.jedis.JedisPoolConfig">
		<!-- 设置最大连接数 -->
		<property name="maxTotal" value="30"></property>
		<!-- 设置最大空闲连接数 -->
		<property name="maxIdle" value="10"></property>
		<!-- 设置空闲等待时间，以毫秒为单位 15000表示15秒 -->
		<property name="maxWaitMillis" value="15000"></property>
	</bean>
	
 	<bean id="jedisPool" class="redis.clients.jedis.JedisPool">
 		<constructor-arg name="poolConfig" ref="jedisPoolConfig"></constructor-arg>
 		<constructor-arg name="host" value="127.0.0.1"></constructor-arg>
 		<constructor-arg name="port" value="6379"></constructor-arg>
 	</bean>
 	
</beans>