<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
	http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
	http://www.springframework.org/schema/aop
	http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
	http://www.springframework.org/schema/mvc
	http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context-4.0.xsd">

	<context:component-scan base-package="com.etoak">
		<context:exclude-filter 
			type="annotation" 
			expression="org.springframework.stereotype.Service"/>
	</context:component-scan>
	 
	<mvc:annotation-driven></mvc:annotation-driven>
	
	<!-- 
		springmvc拦截器除jsp页面不拦截，
		剩下的请求都会拦截包括js、css、img在内
	 -->
	<!-- <mvc:interceptors>
		创建一个拦截器
		<mvc:interceptor>
			
				mvc:mapping 需要拦截的请求
				path="/**" 拦截所有请求
			 
			<mvc:mapping path="/login/logout"/>
			<mvc:mapping path="/**"/>
			
			
				mvc:exclude-mapping 不需要拦截的请求
			
			<mvc:exclude-mapping path="/" />
			
			<bean class="com.etoak.common.interceptor.AuthInterceptor">
				<property name="list">
					<list>
						<value>login</value>
					</list>
				</property>
			</bean>
		</mvc:interceptor>
	</mvc:interceptors> -->
	
	<mvc:resources location="/skin/" mapping="/skin/**"/>
	<mvc:view-controller path="/" view-name="login"/>
	 
	<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
	 	<property name="viewClass" value="org.springframework.web.servlet.view.JstlView"></property>
	 	<!-- 视图前缀 -->
	 	<property name="prefix" value="/pages/modules/"></property>
	 	<!-- 视图后缀 -->
	 	<property name="suffix" value=".jsp"></property>
	</bean>
	
	<bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
	 	<property name="defaultEncoding" value="UTF-8"></property>
	</bean>
	 
</beans>